<% events_to_show = defined?(@upcoming_events) ? @upcoming_events : (defined?(@demo_upcoming_events) ? @demo_upcoming_events : []) %>

<% if events_to_show&.any? %>
  <div class="box has-background-warning-light mt-5">
    <h2 class="subtitle is-5 mb-2">Upcoming Events & Reminders (Next 3 Days)</h2>
    <ul>
      <% events_to_show.each do |event| %>
        <li>
          <strong><%= event.title %></strong>
          <span class="has-text-grey"> - <%= event.start_time.strftime("%b %d, %Y %H:%M") %></span>
          <% if event.description.present? %>
            <div class="has-text-grey is-size-7"><%= event.description %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add Event/Reminder", new_event_path, class: "button is-warning is-light mt-2" %>
  </div>
<% elsif user_signed_in? %>
  <div class="box has-background-warning-light mt-5">
    <h2 class="subtitle is-5 mb-2">Upcoming Events & Reminders (Next 3 Days)</h2>
    <p>No upcoming events in the next 3 days.</p>
    <%= link_to "Add Event/Reminder", new_event_path, class: "button is-warning is-light mt-2" %>
  </div>
<% end %>