<div class "container">
<div id="<%= dom_id diary_entry %>" class="card mb-4">
  <div class="card-content">
    <div class="content">
      <p>
        <strong>Title:</strong> <%= diary_entry.title %>
      </p>
      <p>
        <strong>Entry date:</strong> <%= diary_entry.entry_date.strftime("%A, %-d %B %Y") %>
      </p>
      <p>
        <strong>Status:</strong> <%= diary_entry.status %>
      </p>
      <div class="buttons mt-3">
        <%= link_to "Edit", edit_diary_entry_path(diary_entry), class: "button is-warning is-light" %>
        <%= link_to "Delete", diary_entry_path(diary_entry), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }, class: "button is-danger is-light" %>
      </div>
    </div>
  </div>
</div>
</div>

