
<%= form_with(model: thought, html: { class: "box" }) do |form| %>
  <% if thought.errors.any? %>
    <div class="notification is-danger">
      <h2 class="title is-6"><%= pluralize(thought.errors.count, "error") %> prohibited this thought from being saved:</h2>
      <ul>
        <% thought.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, class: "label" %>
    <div class="control">
      <%= form.text_area :content, class: "textarea", rows: 3 %>
    </div>
  </div>

  <div class="field">
    <%= form.label :mood, class: "label" %>
    <div class="control">
      <%= form.text_field :mood, class: "input" %>
    </div>
  </div>

  <div class="field mt-4">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
