
<% content_for :title, "Thoughts" %>

<h1>Thoughts</h1>

<% if @thoughts.any? %>
  <ul>
    <% @thoughts.each do |thought| %>
      <li class="box mb-3">
        <strong><%= thought.content %></strong>
        <% if thought.mood.present? %>
          <span style="color: #888;">(<%= thought.mood %>)</span>
        <% end %>
        <div class="buttons mt-2">
          <%= link_to "Edit", edit_thought_path(thought), class: "button is-warning is-light is-small" %>
          <%= link_to "Delete", thought_path(thought), method: :delete, data: { confirm: "Are you sure you want to delete this thought/mood?" }, class: "button is-danger is-light is-small" %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No thoughts found.</p>
<% end %>

<%= link_to "Add a new Thought/Mood", new_thought_path, class: "button is-link is-small mt-4" %>
